.my .header {
  width: 100%;
  height: 4.2666666667rem;
  background-image: url("./img/header.png");
  background-size: cover;
  overflow: hidden;
}
.my .avatar {
  width: 1.92rem;
  height: 1.92rem;
  margin: 0 auto;
  display: block;
  margin-top: 0.6666666667rem;
  border: 0.08rem solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}
.my .nickname {
  color: #333;
  font-size: 0.4266666667rem;
  text-align: center;
  margin-top: 0.4rem;
}
.my .content {
  min-height: 13.52rem;
  background-color: #eee;
}
.my .items {
  border-bottom: 0.2666666667rem solid #eee;
  background-color: #fff;
}
.my .items li {
  height: 1.2rem;
  font-size: 0.3733333333rem;
  line-height: 1.2rem;
  position: relative;
  padding-left: 0.6933333333rem;
  margin-left: 0.4rem;
  border-bottom: 1px solid #e4e4e4;
}
.my .items li:last-child {
  border: none;
}
.my .items li:before {
  content: '';
  display: block;
  width: 0.4266666667rem;
  height: 0.4266666667rem;
  position: absolute;
  top: 50%;
  left: 1px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-size: cover;
}
.my .items li:after {
  content: '>';
  display: block;
  width: 0.4266666667rem;
  height: 0.4266666667rem;
  position: absolute;
  top: 0;
  right: 0.24rem;
  color: #aaa;
}
.my .items .address:before {
  background-image: url("./img/address.png");
}
.my .items .money:before {
  background-image: url("./img/money.png");
}
.my .items .email:before {
  background-image: url("./img/email.png");
}
.my .items .question:before {
  background-image: url("./img/question.png");
}
.my .tel {
  font-size: 0.4rem;
  color: #ffb000;
  text-align: center;
  height: 1.2266666667rem;
  line-height: 1.2266666667rem;
  background-color: #fff;
}
.my .time {
  font-size: 0.3733333333rem;
  text-align: center;
  margin-top: 0.3466666667rem;
  color: #999;
}
