.bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.3333333333rem;
  display: flex;
  border-top: 1px solid #b6b6b6;
  background-color: rgba(246, 246, 246, 0.95);
}
.bottom-bar .btn-item {
  text-decoration: none;
  flex: 1;
  font-size: 0.2933333333rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #999;
}
.bottom-bar .btn-item .tab-icon {
  margin-bottom: 0.1066666667rem;
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  background-size: cover;
}
.bottom-bar .btn-item.active {
  color: #000;
}
.bottom-bar .btn-item.my.active .tab-icon {
  background-image: url("./img/myIconActive.png");
}
.bottom-bar .btn-item.my .tab-icon {
  background-image: url("./img/myIcon.png");
}
.bottom-bar .btn-item.order .tab-icon {
  background-image: url("./img/orderIcon.png");
}
.bottom-bar .btn-item.order.active .tab-icon {
  background-image: url("./img/orderIconActive.png");
}
.bottom-bar .btn-item.index .tab-icon {
  background-image: url("./img/homeIcon.png");
}
.bottom-bar .btn-item.index.active .tab-icon {
  background-image: url("./img/homeIconActive.png");
}
